<main class="main">
  <div class="content">
    <h1>URL Checker</h1>
    <p>Validates the URL while the user is typing and asynchronously checks a mocked server for whether the URL exists and is a file or folder.
      The server check is debounced to avoid too many requests.</p>

    <label>Enter a URL:
      <input
        type="url"
        placeholder="Enter a URL"
        id="urlInput"
        required
        [(ngModel)]="urlInput"
        (ngModelChange)="onUrlChange($event)"
      />
    </label>

    <p> Your URL input: {{ urlInput() }}</p>
    @if (urlInput() && urlInput().length > 0) {
      @if (validUrl()) {
        <p>Valid URL ✅</p>

        @if (checking()) {
          <p>Checking URL…</p>
        } @else if (urlInfo().exists) {
            @if (urlInfo().type === 'File') {
            <p>It is a file ✅</p>
            } @else if (urlInfo().type === 'Folder') {
            <p>It is a folder ✅</p>
            } @else {
              <p>Unknown type</p>
            }
          } @else {
            <p>File or folder not exists ❌</p>
          }
      } @else {
        <p>Invalid URL ❌</p>
      }
    }

  </div>
</main>
